presidio-analyzer
presidio-anonymizer
pyahocorasick==1.4.4
hebspacy
pytest
tkinter
pyodbc
pandas
numpy
hashlib
linecache
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
